@font-face {
  font-family: "Myriad Pro";
  src: url("../font/Myriad-Pro.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../font/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../font/Gotham-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../font/Gotham.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../font/Gotham.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold Condensed";
  src: url("../font/Roboto-Bold-Condensed.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
}

body {
  min-width: 1200px;
  max-width: 1600px;
  margin: auto;

  background-color: #000000;
  s
}

.wrapper {
  box-sizing: border-box;
  width: 1200px;

  margin: 0 auto;
  padding: 22px 10px 0 15px;
}

.header {
  height: 880px;

  margin: 0 auto;

  background-image: url("../img/header.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;

  color: #ffffff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

.logo {
  position: relative;
  width: 67px;
  height: 67px;
}

.logo-text {
  display: block;
  text-align: center;
  z-index: 99;

  font-size: 30px;
  line-height: 67px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-front {
  position: absolute;

  width: 67px;
  height: 67px;
  z-index: 98;

  background-color: #11749e;
}

.logo-back {
  position: absolute;
  top: 8px;
  left: 12px;

  width: 67px;
  height: 67px;
  z-index: 97;

  background-color: #ffffff;
  opacity: 0.75;
}

.menu-social {
  display: flex;
  justify-content: space-between;

  margin-top: 18px;
  margin-right: 0px;
}

.menu ul {
  display: flex;
}

.menu-item {
  margin-left: 28px;
}

.menu-item a {
  padding-bottom: 37px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "Myriad Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.menu-item a:hover {
  /* font-weight: 700; */
  border-bottom: 6px solid #11749e;
}

.socials {
  margin-left: 44px;
}

.socials ul {
  display: flex;
}

.socials-item:nth-child(n+2) {
  margin-left: 26px;
}

.socials-item a i {
  font-size: 20px;
}

.socials-item a i:hover {
  color: #11749e;
}

.header-title {
  margin-top: 288px;

  text-align: center;
}

.title {
  font-family: "Gotham Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 152.54px;
  line-height: 1;
  letter-spacing: -7px;
  text-transform: uppercase;
}

.motto {
  margin-top: -50px;
  margin-left: 20px;

  font-family: "Gotham Medium", Arial, sans-serif;
  font-weight: 500;
  font-size: 24.79px;

  letter-spacing: 18px;
  text-transform: uppercase;

  color: #11749e;
}

.scroll-down {
  margin-top: 110px;

  text-align: center;
}

.scroll-down-text {
  display: block;

  font-family: "Open Sans Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.scroll-down-link img {
  margin-top: 20px;
}

.scroll-down-link img:hover {
  color: #11749e;
}

.features {
  height: 738px;

  background-color: #11749e;

  text-align: center;
}

.features .wrapper {
  position: relative;

  padding-top: 163px;
}

.w {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;

  justify-content: center;

  font-family: "Roboto Bold Condensed";
  font-weight: 700;
  font-size: 247.18px;

  opacity: 0.18;
}

.features-moto {
  position: relative;

  font-family: "Gotham Medium";
  font-weight: 500;
  font-size: 37.55px;
  text-transform: uppercase;
}

.features-list {
  display: flex;
  justify-content: space-between;

  margin-top: 135px;
}

.feature {
  width: 25%;
  position: relative;

  padding-top: 155px;
}

.feature:nth-child(n+2) {
  margin-left: 40px;
}

.feature::after {
  content: "";
  position: absolute;

  top: 5px;
  left: 50%;
  margin-left: -25%;

  width: 133px;
  height: 133px;

  border-radius: 50%;
  background-color: #2e85aa;
  background-size: 25%;
  background-position: center center;
  background-repeat: no-repeat;
}

.write::after {
  background-image: url("../img/Write.png");
}

.search::after {
  background-image: url("../img/Search.png");
}

.simon-says::after {
  background-image: url("../img/Simon-says.png");
}

.feature-title {
  font-family: "Gotham Medium";
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.feature-text {
  height: 75px;
  overflow: hidden;

  margin-top: 22px;

  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.news {
  height: 920px;
}

.news-item {
  height: 50%;
}

.news-left {
  float: left;
  width: 50%;

  background-color: #222222;
}

.news-right {
  float: right;
  width: 50%;

  background-color: #f3f3f3;
}